.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 3px;
  text-align: center;
}

.card .card-title{
 font-family: Arial, Helvetica, sans-serif; 
 margin: 0;
 color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.Students{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
}

.Students p{
  margin: 0%;
}

.welcome-message{
  font-size: 2.5em;
  background-color: rgb(40, 40, 234);
  color: aliceblue;
  padding: 1%;
  border: 2px ;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(92, 92, 222);
  color: aliceblue;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
  margin: 0;
}

.list-category{
  font-size: 1.75em;
  font-weight: bold;
  color:rgb(8, 16, 16);
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(0, 255, 191);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgb(0, 33, 0);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: rgb(28, 95, 95);
  cursor: pointer;
}

.counter-container{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.count-display{
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 38px;
}

.counter-button{
  width: 120px;
  height: 30px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(0, 149, 255);
  color: rgb(0, 33, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(11, 99, 70);
}

input[type="radio"]{
  margin-right: 5px;
  height: 13px;
  width: 15px;
}

input[type="text"], input[type="number"], textarea, select {
    display: block;
    margin-bottom: 10px;
    padding: 7px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: rgb(245, 250, 255);
}